$font-primary: 'Plus Jakarta Sans', sans-serif;

$color-black: #030303;
$color-dark-gray: #7a746e;
$color-background: #fff7f0;
$color-graphic: #755cde;
$color-ui: #f6a560;
$color-apps: #f39e9e;
$color-illustrations: #eb7565;
$color-photography: #61c4b7;
$color-motion: #552049;

$font-weight-medium: 500;
$font-weight-bold: 700;
